body {
  font-family: 'Roboto', sans-serif;
}

#content-div {
  animation-duration: 0.5s;
}

/*#main-links {
  animation-duration: 0.5s;
}
#about-page {
  animation-duration: 0.5s;
}
#resume-page {
  animation-duration: 0.5s;
}
#contact-page {
  animation-duration: 0.5s;
}*/