---
layout: default
---

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-6 offset-3">

      <u>
        <span class="back-button" onclick='goToPage("{{ "/" | relative_url }}")'> 
          <- Back 
        </span>
      </u>
      <br />
      <h2>About</h2>
      <p>
        Hi, welcome to my personal website!
      </p>
      <p>
        My name is Ken - I'm a Computer Science student at Boston University - class of 2019. My interests in software include <b><big>Distributed Systems</big></b> and <b><big>Artificial Intelligence</big></b>.
      </p>
      <p>
        Lately I've been learning <b><big>Google's Go language</big></b>, working on a "Decentralized Social Network", organizing MakeBU (a BU makerspace), and learning a bit about Neural Networks.
      </p>
      <p>
        When I'm not doing homework, organizing hackathons, or working on personal projects, I enjoy skiing, hiking, working out, and watching movies.
      </p>
      <p>
        Learn more about all of my projects, check out my resume, or connect with me on the "contact" page here. I'm not currently searching for internships, but <b><big>I am looking at opportunities for after graduation.</big></b>
      </p>

    </div>
  </div>
</div>