---
layout: default
---

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-6 offset-3">

      <u>
        <span class="back-button" onclick='goToPage("{{ "/" | relative_url }}")'> 
          <- Back 
        </span>
      </u>
      <br />
      <h2>Contact</h2>
      <p>
        You can reach me in a number of ways. The best way is by Email, but I respond to anything within a day or two anyways.
      </p>
      <button class="btn btn-primary" id="emailbutton" onclick="showemail()">
        Click to Show Email
      </button>
      <p id="emailspace"></p>
      <p> LinkedIn: <a href="https://www.linkedin.com/in/kengar/">https://www.linkedin.com/in/kengar/</a></p>

    </div>
  </div>
</div>