---
layout: default
---
<div class="container-fluid text-center">

  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div class="col-6 offset-3">
          <img class="img-fluid" src="{{ "assets/imgs/ken_grass_small.jpeg" | relative_url }}" style="border-radius: 100%">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-3">
      <p><i>
        "Success usually comes to those who are too busy to be looking for it."
        <br />
        - Henry David Thoreau
      </i></p>
      <u>
        <h2 id="about-link" onclick='goToPage("{{ "/about" | relative_url }}")'>
          About -> 
        </h2>
      </u>
      <br />
      <u>
        <h2 id="resume-link" onclick='goToPage("{{ "/resume" | relative_url }}")'>
          Resume &amp; Projects -> 
        </h2>
      </u>
      <br />
      <u>
        <h2 id="contact-link" onclick='goToPage("{{ "/contact" | relative_url }}")'>
          Contact -> 
        </h2>
      </u>
    </div>
  </div>

</div>
