---
layout: default
---

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-6 offset-3">

      <u>
        <span class="back-button" onclick='goToPage("{{ "/" | relative_url }}")'> 
          <- Back 
        </span>
      </u>
      <br />
      <h2>Resume &amp; Projects</h2>

      <br />
      <h2>My Resume</h2>
      <ul class="list-group">
        <li class="list-group-item">
          Microsoft Word version: 
          <a href="{{ "assets/ChenGarberResumeSep2017.docx" | relative_url }}">Download Link</a>
          <br />
          PDF version: 
          <a href="{{ "assets/ChenGarberResumeSep2017.pdf" | relative_url }}">Download Link</a>
        </li>
        <li class="list-group-item">
          GitHub: 
          <a href="https://github.com/KenG98/">https://github.com/KenG98/</a>
        </li>
      </ul>

      <br />
      <h2>My Projects</h2>
      <!-- FynchBio -->
      <div class="card">
        <img class="card-img-top" src="{{ "assets/imgs/evolver.png" | relative_url }}">
        <div class="card-block">
          <h4 class="card-title">FynchBio</h4>
          <p class="card-text">
            FynchBio is a piece of laboratory equipment, web app, and streaming API I contributed to. Our team of four set out to make the collection of biological data autonomous, managable, and reproducible. I was responsible for the Node.js web app, which included a stream of data readings as well as graphing capabilities and features for sharing data with other users. <a href="fynchbio.com">fynchbio.com</a>
          </p>
        </div>
      </div>

      <!-- BostonHacks -->
      <br />
      <div class="card">
        <img class="card-img-top" src="{{ "assets/imgs/bhacks.jpg" | relative_url }}">
        <div class="card-block">
          <h4 class="card-title">BostonHacks</h4>
          <p class="card-text">
            In my free time I am an organizer of BostonHacks, one of Boston's largest collegiate hackathons. Annually we take on 400+ hackers for a 36 hour event at our campus, which takes a year of planning. Aside from logistics, I contributed to our event website, which is written in Node.js and includes a log in and account management portal, through which we get thousands of applications, and communicate with hundreds of hackers. <a href="bostonhacks.io">bostonhacks.io</a> 
          </p>
        </div>
      </div>

      <!-- Nielsen (Big Data) -->
      <br />
      <div class="card">
        <img class="card-img-top" src="{{ "assets/imgs/bigdata.jpg" | relative_url }}">
        <div class="card-block">
          <h4 class="card-title">Nielsen (Big Data)</h4>
          <p>
            In the Summer of 2017 at Boston University's SAIL (Software Application and Innovation Lab) my main project was helping an economics professor optimize his research workflow by speeding up his data queries (7 terrabytes of consumer data), and documenting the process for future SAIL projects.
          </p>
          <p class="card-text">
            I learned how to deploy a Hadoop / Spark cluster, upload all of my data to an HDFS cluster, then convert the data to the Parquet format, which is optimal for batch processing. I translated complex multiple join and reduce queries from the Stata language to Scala, and sped up 2 hour queries to under 10 minutes.
          </p>
        </div>
      </div>

      <!-- Distributed Social Network -->
      <br />
      <div class="card">
        <img class="card-img-top" src="{{ "assets/imgs/decentralized.png" | relative_url }}">
        <div class="card-block">
          <h4 class="card-title">Decentralized Social Network</h4>
          <p class="card-text">
            This is a work in progress which aims to bring the decentralized structure to IRC chats. Me and a team of five others are currently working on it at our Thursday evening "Weekly Hack Nights" at my school club MakeBU.
          </p>
          <p class="card-text">
            Because this is a hobby project and not a business, we decided to implement everything from scratch, including our database, agreement protocol, and servers. We're using Go, and hopefully by May 2018 we'll have something really interesting to show off. <a href="https://github.com/KenG98/distributed-social-network">https://github.com/KenG98/distributed-social-network</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>